<div class="order-details">
  <h1 class="h4 mt-0 mb-xs color-headings">{{- 'customer.orders.order' | t }} {{ order.name -}}</h1><!-- /.h4 -->

  <p class="p4 mt-0 mb-l">{{- order.created_at | date: format: 'date_at_time' -}}</p>

  {%-
    liquid
    assign value = 'customer.orders.back_to_orders' | t
    assign back_to_orders_url = routes.account_url | append: '?view=order-history'
    render 'button', type: 'link', href: back_to_orders_url, css: 'link', styles: 'left', class: 'mb-xs', icon_name: 'icon-chevron-left', value: value
  -%}

  <div class="order__inner grid mt-l--large">
    <div class="account__table grid__item grid__item--xs-8" id="orders">
      <table class="table">
        <thead>
          <tr>
            <th class="p3 bold">{{- 'customer.orders.product' | t -}}</th>

            <th class="p3 bold">{{- 'customer.orders.sku' | t -}}</th>

            <th class="p3 bold">{{- 'customer.orders.price' | t -}}</th>

            <th class="p3 bold">{{- 'customer.orders.quantity' | t -}}</th>

            <th class="p3 bold">{{- 'customer.orders.total' | t -}}</th>
          </tr>
        </thead>

        <tbody class="p3">
          {%- for line_item in order.line_items -%}
            <tr>
              <td data-heading="{{- 'customer.orders.product' | t -}}">
                <a href="{{- line_item.url -}}" class="p3 link-underline">{{- line_item.title | escape -}}</a><!-- /.link-underline -->

                {%- if line_item.discount_allocations.size > 0 -%}
                  <ul class="list-unstyled" role="list" aria-label="{{- 'customer.order.discount' | t -}}">
                    {%- for discount_allocation in line_item.discount_allocations -%}
                      <li class="p4 flex flex--center">
                        {%- render 'icon-discount' -%}

                        <span>
                          {%- if settings.show_currency_codes -%}
                            {{ discount_allocation.discount_application.title | escape }} (-{{ discount_allocation.amount | money_with_currency }})
                          {%- else -%}
                            {{ discount_allocation.discount_application.title | escape }} (-{{ discount_allocation.amount | money }})
                          {%- endif -%}
                        </span>
                      </li>
                    {%- endfor -%}
                  </ul><!-- /.cart-item__discounts list-unstyled p5 -->
                {%- endif -%}

                {%- if line_item.selling_plan_allocation != nil -%}
                  <p class="cart-item__selling-plan-name p4">
                    {{- line_item.selling_plan_allocation.selling_plan.name -}}
                  </p><!-- /.cart-item__selling-plan-name p4 -->
                {%- endif -%}
              </td>

              <td data-heading="{{- 'customer.orders.sku' | t -}}">
                {{- line_item.sku -}}
              </td>

              <td data-heading="{{- 'customer.orders.price' | t -}}">
                {%-
                  liquid
                  assign final_price_money = line_item.final_price | money
                  assign original_price_money = line_item.original_price | money

                  if settings.show_currency_codes
                    assign final_price_money = line_item.final_price | money_with_currency
                    assign original_price_money = line_item.original_price | money_with_currency
                  endif
                -%}

                {%- if line_item.final_price != line_item.original_price -%}
                  <del class="p4 mt-0 mb-0 line-through">{{- original_price_money -}}</del><!-- /.p4 line-through -->
                {%- endif -%}

                <ins class="p3 mt-0 mb-0">{{- final_price_money -}}</ins><!-- /.p3 -->

                {%- if line_item.unit_price_measurement -%}
                  <div>
                    <span class="visually-hidden">
                      {{- 'products.product.price.unit_price' | t -}}
                    </span>

                    {%- if settings.show_currency_codes -%}
                      {{- line_item.variant.unit_price | money_with_currency -}}
                    {%- else -%}
                      {{- line_item.variant.unit_price | money -}}
                    {%- endif -%}

                    <span aria-hidden="true">/</span>

                    {%- if line_item.variant.unit_price_measurement.reference_value != 1 -%}
                      {{- line_item.variant.unit_price_measurement.reference_value -}}
                    {%- endif -%}

                    {{ line_item.variant.unit_price_measurement.reference_unit }}
                  </div>
                {%- endif -%}
              </td>

              <td data-heading="{{- 'customer.orders.quantity' | t -}}">
                {{- line_item.quantity -}}
              </td>

              <td data-heading="{{- 'customer.orders.total' | t -}}">
                {%-
                  liquid
                  assign final_price_money = line_item.final_line_price | money
                  assign original_price_money = line_item.original_line_price | money

                  if settings.show_currency_codes
                    assign final_price_money = line_item.final_line_price | money_with_currency
                    assign original_price_money = line_item.original_line_price | money_with_currency
                  endif
                -%}

                {%- if line_item.final_line_price != line_item.original_line_price -%}
                  <del class="p4 mt-0 mb-0 line-through">{{- original_price_money -}}</del><!-- /.p4 line-through -->
                {%- endif -%}

                <ins class="p3 mt-0 mb-0">{{- final_price_money -}}</ins><!-- /.p3 -->
              </td>
            </tr>
          {%- endfor -%}
        </tbody>

        <tfoot>
          <tr>
            <td colspan="5">
              <div class="flex flex--justify">
                <div class="left flex__item">
                  <p class="p3">{{- 'customer.orders.subtotal' | t -}}</p><!-- /.p3 -->

                  {%- for method in order.shipping_methods -%}
                    <p class="p4">{{- method.title | escape -}}</p><!-- /.p4 -->
                  {%- endfor -%}

                  <p class="p2 bold">{{- 'customer.order.total' | t -}}</p><!-- /.p2 -->
                </div><!-- /.flex__item -->

                <div class="flex__item">
                  {%-
                    liquid
                    assign subtotal_price = order.subtotal_price | money
                    assign total_price = order.total_price | money

                    if settings.show_currency_codes
                    assign subtotal_price = order.subtotal_price | money_with_currency
                    assign total_price = order.total_price | money_with_currency
                    endif
                  -%}

                  <p class="p3">{{- subtotal_price -}}</p><!-- /.p3 -->

                  {%- for method in order.shipping_methods -%}
                    <p class="p4">
                      {%- if settings.show_currency_codes -%}
                        {{- method.price | money_with_currency -}}
                      {%- else -%}
                        {{- method.price | money -}}
                      {%- endif -%}
                    </p><!-- /.p4 -->
                  {%- endfor -%}

                  <p class="p2 bold">{{- total_price -}}</p><!-- /.p2 bold -->
                </div><!-- /.flex__item -->
              </div><!-- /.flex flex--justify -->
            </td>
          </tr>
        </tfoot>
      </table>
    </div><!-- /.account__table -->

    <span class="small-hide grid__item--xs-1"></span><!-- /.grid__item--xs-1 -->

    <div class="order__addresses grid__item grid__item--xs-3">
      <div class="order__address">
        {%-
          liquid
          assign heading = 'customer.order.billing_address' | t
          render 'card-address', heading: heading, address: order.billing_address
        -%}
      </div><!-- /.order__address -->

      <div class="order__address">
        {%-
          liquid
          assign heading = 'customer.order.shipping_address' | t
          render 'card-address', heading: heading, address: order.shipping_address
        -%}
      </div><!-- /.order__address -->
    </div><!-- /.order__addresses -->
  </div><!-- /.order__inner -->
</div><!-- /.order-details -->
