{% comment %}
    Renders a list of product's price (regular, sale)
    Accepts:
    - product_ref: {Object} Product Liquid object
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
    - price_class: {String} Adds a price class to the price element (optional)
    Usage:
    {% render 'price', product_ref: product %}
{% endcomment %}

{%- liquid
  if use_variant
    assign target = product_ref.selected_or_first_available_variant
  else
    assign target = product_ref
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign money_price = price | money

  if settings.show_currency_codes
    assign money_price = price | money_with_currency
  endif

  if target == product_ref and product_ref.price_varies
    assign money_price = 'products.product.price.from_price' | t: price: money_price
  endif
-%}

<div class="price
  {%- if price_class %} {{ price_class }}{% endif -%}
  {%- if available == false %} price--sold-out {% endif -%}
  {%- if compare_at_price > price %} price--on-sale {% endif -%}
  {%- if product_ref.price_varies == false and product_ref.compare_at_price_varies %} price--no-compare{% endif -%}"
>
  <div class="price__container">
    {%- if product_ref -%}
      {%- if compare_at_price > price -%}
        <div class="price__sale">
          {%- unless product_ref.price_varies == false and product_ref.compare_at_price_varies %}
            <span class="visually-hidden">{{- 'products.product.price.regular_price' | t -}}</span>

            <del>
              {%- if settings.show_currency_codes -%}
                {{- compare_at_price | money_with_currency -}}
              {%- else -%}
                {{- compare_at_price | money -}}
              {%- endif -%}
            </del>
          {%- endunless -%}

          <span class="visually-hidden">{{- 'products.product.price.sale_price' | t -}}</span>

          <ins>{{- money_price -}}</ins>
        </div>
      {%- else -%}
        <div class="price__regular">
          <span class="visually-hidden">{{- 'products.product.price.regular_price' | t -}}</span>

          <span>{{- money_price -}}</span>
        </div>
      {%- endif -%}

      {%- if use_variant and target.unit_price_measurement -%}
        <div>
          <span class="visually-hidden">
            {{- 'products.product.price.unit_price' | t -}}
          </span>

          {%- if settings.show_currency_codes -%}
            {{- target.unit_price | money_with_currency -}}
          {%- else -%}
            {{- target.unit_price | money -}}
          {%- endif -%}

          <span aria-hidden="true">/</span>

          {% if target.unit_price_measurement.reference_value != 1 %}
            {{ target.unit_price_measurement.reference_value }}
          {% endif %}

          {{ target.unit_price_measurement.reference_unit }}
        </div>
      {%- endif -%}
    {%- else -%}
      <span>
        {%- if settings.show_currency_codes -%}
          {{- 9999 | money_with_currency -}}
        {%- else -%}
          {{- 9999 | money -}}
        {%- endif -%}
      </span>
    {%- endif -%}
  </div>
</div>
