{%- assign resources = section.settings.collection.products | default: section.settings.product_list | default: nil -%}

<link rel="stylesheet" href="{{ 'component-text-content.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card-product.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>
  {{- 'component-text-content.css' | asset_url | stylesheet_tag -}}
  {{- 'swiper-bundle.min.css' | asset_url | stylesheet_tag -}}
  {{- 'component-slider.css' | asset_url | stylesheet_tag -}}
  {{- 'component-card-product.css' | asset_url | stylesheet_tag -}}
  {{- 'component-badge.css' | asset_url | stylesheet_tag -}}
</noscript>

{%- unless request.design_mode -%}
  <script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'slider-component.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'products-carousel.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'component-card-product.js' | asset_url -}}" defer="defer"></script>
{%- endunless -%}

{%-
  liquid
  assign style_classes = 'color-' | append: section.settings.style | append: ' color-background ' | append: section.settings.spacing_mobile | append: ' ' | append: section.settings.spacing_desktop | append: ' pt-xl pb-xxl pt-xxl--large pb-l--large'
  capture container_classes
    echo 'pt-0 pb-0'
    if section.settings.layout == 'slider-right'
      echo ' spacer-t-s--large spacer-b-xs--large mb-m'
    else
      echo ' pt-m--large'
    endif
  endcapture
-%}

<div class="section-featured-products overflow-hidden {{ style_classes }}">
  <div class="container {{ container_classes }}">
    <div class="grid grid--row-gap-0">
      {%-
        liquid
        assign show_multicolumn = false
        assign has_text_content = false
        if section.settings.layout == 'slider-right'
          assign show_multicolumn = true
        endif
      -%}
      {%- if section.settings.subheading != blank
          or section.settings.heading != blank
          or section.settings.paragraph != blank
          or section.settings.button_text_1 != blank and section.settings.button_url_1 != blank
      -%}
        {%- assign has_text_content = true -%}
        <div class="grid__item grid__item--xs-12 pb-m {% if show_multicolumn %}grid__item--s-3 pt-0 pt-xl--large pb-0--large {% else %}grid__item--s-12 {% endif %}">
          {%- render 'text-content',
            inner_settings: section.settings,
            heading_size_tag: 'h2',
            heading_class: 'h2',
            paragraph_class: 'p2',
            subheading_class: 'sh--2' -%}
        </div><!-- /.grid__item -->

        {%- unless section.settings.layout != 'slider-right' and has_text_content -%}
          <span class="grid__item grid__item--s-1 small-hide medium-hide"></span>
        {%- endunless -%}
      {%- endif -%}

      <div class="grid__item grid__item--xs-12 {% if show_multicolumn and has_text_content %}grid__item--s-8{% else %}grid__item--s-12{% endif %}">
        {%-
          liquid
          assign infinite_direction = 'both'
          if show_multicolumn and has_text_content
            assign infinite_direction = 'right'
          endif
          render 'products-feed', autoplay: section.settings.autoplay, autoplay_speed: section.settings.autoplay_speed, resources: resources, infinite_direction: infinite_direction, products_count: section.settings.products_count
        -%}
      </div><!-- /.grid__item -->
    </div><!-- /.grid -->
  </div><!-- /.container -->
</div><!-- /.section-featured-products -->

{% schema %}
{
  "name": "t:sections.featured-products.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "spacing_desktop",
      "label": "t:sections.global.settings.spacing.label",
      "options": [
        {
          "value": "mt-0--large mb-0--large",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs--large mb-xs--large",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s--large mb-s--large",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s--large mb-s--large"
    },
    {
      "type": "select",
      "id": "spacing_mobile",
      "label": "t:sections.global.settings.spacing.label_mobile",
      "options": [
        {
          "value": "mt-0 mb-0",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs mb-xs",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s mb-s",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s mb-s"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.featured-products.settings.layout.label",
      "options": [
        {
          "value": "fullwidth",
          "label": "t:sections.featured-products.settings.layout.options.option_1.label"
        },
        {
          "value": "slider-right",
          "label": "t:sections.featured-products.settings.layout.options.option_2.label"
        }
      ],
      "default": "fullwidth"
    },
    {
      "type": "header",
      "content": "t:sections.featured-products.settings.header_content.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label",
      "default": "Add a tagline"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "<p>Add Collection <em><strong>Headline</strong></em> here</p>"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "t:sections.global.settings.paragraph.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-products.settings.header_button.content"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "label": "t:sections.global.settings.buttons.button.settings.style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.global.settings.buttons.button.settings.style.options.option_1"
        },
        {
          "value": "outline",
          "label": "t:sections.global.settings.buttons.button.settings.style.options.option_2"
        },
        {
          "value": "link",
          "label": "t:sections.global.settings.buttons.button.settings.style.options.option_3"
        }
      ],
      "default": "link"
    },
    {
      "type": "select",
      "id": "button_size_1",
      "label": "t:sections.global.settings.buttons.button.settings.size.label",
      "options": [
        {
          "value": "s",
          "label": "t:sections.global.settings.buttons.button.settings.size.options.option_1"
        },
        {
          "value": "m",
          "label": "t:sections.global.settings.buttons.button.settings.size.options.option_2"
        },
        {
          "value": "l",
          "label": "t:sections.global.settings.buttons.button.settings.size.options.option_3"
        }
      ],
      "default": "s"
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "t:sections.global.settings.buttons.button.settings.button_text.label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": "t:sections.global.settings.buttons.button.settings.button_url.label",
      "default": "/collections"
    },
    {
      "type": "header",
      "content": "t:sections.featured-products.settings.header_slider.content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-products.settings.collection.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.featured-products.settings.product_list.label",
      "info": "t:sections.featured-products.settings.product_list.info",
      "limit": 12
    },
    {
      "type": "range",
      "id": "products_count",
      "label": "t:sections.featured-products.settings.products_count.label",
      "min": 5,
      "max": 12,
      "step": 1,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.featured-products.settings.autoplay.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:sections.featured-products.settings.autoplay_speed.label",
      "unit": "s",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-products.name"
    }
  ]
}
{% endschema %}
