{%- assign resources = section.settings.collection.products | default: nil -%}

<link rel="stylesheet" href="{{- 'section-featured-collection.css' | asset_url -}}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{- 'component-text-content.css' | asset_url -}}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{- 'swiper-bundle.min.css' | asset_url -}}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{- 'component-slider.css' | asset_url -}}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{- 'component-card-product.css' | asset_url -}}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{- 'component-badge.css' | asset_url -}}" media="print" onload="this.media='all'">

<noscript>
  {{- 'section-featured-collection.css' | asset_url | stylesheet_tag -}}
  {{- 'component-text-content.css' | asset_url | stylesheet_tag -}}
  {{- 'swiper-bundle.min.css' | asset_url | stylesheet_tag -}}
  {{- 'component-slider.css' | asset_url | stylesheet_tag -}}
  {{- 'component-card-product.css' | asset_url | stylesheet_tag -}}
  {{- 'component-badge.css' | asset_url | stylesheet_tag -}}
</noscript>

{%- unless request.design_mode -%}
  <script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'slider-component.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'products-carousel.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'component-card-product.js' | asset_url -}}" defer="defer"></script>
{%- endunless -%}

{%-
  liquid
  capture style_classes
    echo 'color-' | append: section.settings.style
    echo ' ' | append: section.settings.spacing_mobile
    echo ' ' | append: section.settings.spacing_desktop
    echo ' relative overflow-hidden flex flex--direction-column'
    if section.settings.layout_mobile == 'image-bottom'
      echo ' section-featured-collection--filpped-mobile'
    endif
    if section.settings.layout_desktop == 'slider-left'
      echo ' section-featured-collection--filpped-desktop'
    endif
  endcapture
-%}

<div class="section-featured-collection {{ style_classes }}">
  <div class="section__image media media--crop-{{ section.settings.image_crop }} fill">
    {%-
      liquid
      assign image = section.settings.image
      assign image_mobile = section.settings.image_mobile
      if image
        assign image_src = image | image_url: width: 500
        assign mobile_image_src = image_mobile | image_url: width: 500
        capture image_srcset
          render 'srcset', image: image, image_mobile: image_mobile
        endcapture
        capture mobile_image_srcset
          render 'srcset', image: image_mobile
        endcapture
        assign image_alt = image.alt | escape

        render 'image', src: image_src, srcset: image_srcset, sizes: 'auto', alt: image_alt, width: image.witdth, height: image.height, class: 'small-hide'
        render 'image', src: mobile_image_src, srcset: mobile_image_srcset, sizes: 'auto', alt: image_alt, width: image.witdth, height: image.height, class: 'medium-hide large-up-hide'
      else
        echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
      endif
    -%}
  </div><!-- /.section__image -->

  <div class="section__content-wrapper relative">
    <div class="container">
      <div class="grid grid--row-gap-0 {% if section.settings.layout_desktop == 'slider-left' %} grid--reverse {% endif %}">
        <span class="grid__item small-hide medium-hide grid__item--s-5"></span><!-- /.grid__item -->

        <span class="gird__item small-hide medium__hide grid__item--s-1 section__content-background"></span>

        <div class="grid__item grid__item--xs-12 grid__item--s-6 relative">
          <div class="section__inner pt-xxl pb-xxl mb-xs mb-0--large spacer-t-m--large spacer-b-m--large">
            {%-
              liquid
              render 'text-content', inner_settings: section.settings, heading_size_tag: 'h3', heading_class: 'h3', subheading_class: 'sh--3', paragraph_class: 'p3', class: 'section__'

              capture attr
                echo ' data-fixed-width="208"'
                echo ' data-fixed-width-desktop="208"'
                if section.settings.layout_desktop == 'slider-left'
                  echo ' data-direction="rtl"'
                endif
              endcapture
              assign infinite_direction = 'right'
              if section.settings.layout_desktop == 'slider-left'
                assign infinite_direction = 'left'
              endif
              render 'products-feed', autoplay: section.settings.autoplay, autoplay_speed: section.settings.autoplay_speed, resources: resources, attr: attr, infinite_direction: infinite_direction, products_count: section.settings.products_count
            -%}

            <div class="section__actions mt-s mt-xxl--large">
              {%-
                liquid
                if section.settings.button_text != blank and section.settings.collection != blank
                  assign button_url = section.settings.button_url | default: section.settings.collection.url

                  assign button_styles = section.settings.button_size
                  if section.settings.button_style == 'link'
                    assign button_css = 'link'
                  else
                    assign button_css = 'button'
                    assign button_styles = button_styles | append: ',' | append: section.settings.button_style
                  endif

                  render 'button', type: 'link', value: section.settings.button_text, href: button_url, styles: button_styles, css: button_css
                endif
              -%}
            </div><!-- /.section__actions -->
          </div><!-- /.section__inner -->
        </div><!-- /.grid__item -->
      </div><!-- /.grid -->
    </div><!-- /.container -->
  </div><!-- /.section__content-wrapper -->
</div><!-- /.section-featured-collection -->

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "spacing_desktop",
      "label": "t:sections.global.settings.spacing.label",
      "options": [
        {
          "value": "mt-0--large mb-0--large",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs--large mb-xs--large",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s--large mb-s--large",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s--large mb-s--large"
    },
    {
      "type": "select",
      "id": "spacing_mobile",
      "label": "t:sections.global.settings.spacing.label_mobile",
      "options": [
        {
          "value": "mt-0 mb-0",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs mb-xs",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s mb-s",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s mb-s"
    },
    {
      "type": "select",
      "id": "layout_desktop",
      "label": "t:sections.featured-collection.settings.layout_desktop.label",
      "options": [
        {
          "value": "slider-left",
          "label": "t:sections.featured-collection.settings.layout_desktop.options.option_1.label"
        },
        {
          "value": "slider-right",
          "label": "t:sections.featured-collection.settings.layout_desktop.options.option_2.label"
        }
      ],
      "default": "slider-right"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "t:sections.featured-collection.settings.layout_mobile.label",
      "options": [
        {
          "value": "image-top",
          "label": "t:sections.featured-collection.settings.layout_mobile.options.option_1.label"
        },
        {
          "value": "image-bottom",
          "label": "t:sections.featured-collection.settings.layout_mobile.options.option_2.label"
        }
      ],
      "default": "image-top"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image.label_mobile"
    },
    {
      "type": "select",
      "id": "image_crop",
      "label": "t:sections.banner.settings.image_crop.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.banner.settings.image_crop.options.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.banner.settings.image_crop.options.option_2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.banner.settings.image_crop.options.option_3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_content.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "<p>Featured <em>collection</em></p>"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "t:sections.global.settings.paragraph.label",
      "default": "<p>Pair text with an image to focus on your collection. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_button.content"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.global.settings.buttons.button.settings.style.label",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.global.settings.buttons.button.settings.style.options.option_1"
        },
        {
          "value": "outline",
          "label": "t:sections.global.settings.buttons.button.settings.style.options.option_2"
        },
        {
          "value": "link",
          "label": "t:sections.global.settings.buttons.button.settings.style.options.option_3"
        }
      ],
      "default": "link"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.global.settings.buttons.button.settings.size.label",
      "options": [
        {
          "value": "s",
          "label": "t:sections.global.settings.buttons.button.settings.size.options.option_1"
        },
        {
          "value": "m",
          "label": "t:sections.global.settings.buttons.button.settings.size.options.option_2"
        },
        {
          "value": "l",
          "label": "t:sections.global.settings.buttons.button.settings.size.options.option_3"
        }
      ],
      "default": "m"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.global.settings.buttons.button.settings.button_text.label"
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": "t:sections.global.settings.buttons.button.settings.button_url.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_slider.content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_count",
      "label": "t:sections.featured-collection.settings.products_count.label",
      "min": 5,
      "max": 12,
      "step": 1,
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.featured-collection.settings.autoplay.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:sections.featured-collection.settings.autoplay_speed.label",
      "unit": "s",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.name"
    }
  ]
}
{% endschema %}
