{%- unless section.blocks.size == 0 -%}
  <link rel="stylesheet" href="{{- 'component-card-collection.css' | asset_url -}}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{- 'swiper-bundle.min.css' | asset_url -}}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{- 'component-slider.css' | asset_url -}}" media="print" onload="this.media='all'">

  <noscript>
    {{- 'component-card-collection.css' | asset_url | stylesheet_tag -}}
    {{- 'swiper-bundle.min.css' | asset_url | stylesheet_tag -}}
    {{- 'component-slider.css' | asset_url | stylesheet_tag -}}
  </noscript>

  {% unless request.design_mode %}
    <script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script>
    <script src="{{- 'slider-component.js' | asset_url -}}" defer="defer"></script>
    <script src="{{- 'cards-slider.js' | asset_url -}}" defer="defer"></script>
  {% endunless %}

  {%-
    liquid
    assign show_in_slider = false
    assign blocks_with_content_size = 0
    assign style_classes = 'color-' | append: section.settings.style | append: ' color-background ' | append: section.settings.spacing_mobile | append: ' ' | append: section.settings.spacing_desktop | append: ' pb-m'
  -%}

  {%- capture cards_html -%}
    {%- for block in section.blocks -%}
      {%-
        liquid
        assign collection = block.settings.collection
        assign image = block.settings.image | default: collection.featured_image
        assign heading = block.settings.heading | default: collection.title
        assign link_url = block.settings.link_url | default: collection.url
        assign default_link_text = 'list_collections.callout_text' | t
        assign link_text = block.settings.link_text | default: default_link_text
      -%}
      {%- if collection != blank or collection == blank and heading != blank and link_url != blank -%}
        {%- assign blocks_with_content_size = blocks_with_content_size | plus: 1 -%}
        <div class="grid__item grid__item--xs-6 swiper-slide {{ grid_item_class }}" data-id="{{ blocks_with_content_size | minus: 1 }}" {{ block.shopify_attributes }}>
          {% render 'card-collection', image: image, title: heading, url: link_url, callout_text: link_text, media_type: section.settings.media_type, background_overlay: section.settings.show_cards_background, card_size: 'small', card_content_layout: section.settings.card_content_layout %}
        </div><!-- /.grid__item grid__item--xs-6 -->
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}

  {%-
    liquid
    if blocks_with_content_size > 2
      assign show_in_slider = true
    endif
    -%}

    {%- unless show_in_slider -%}
      <link rel="stylesheet" href="{{ 'section-main-list-collections.css' | asset_url }}" media="print" onload="this.media='all'">

      <noscript>
        {{- 'section-main-list-collections.css' | asset_url | stylesheet_tag -}}
      </noscript>

      {%-
        liquid

        assign columns_count = 12
        assign columns_per_item = columns_count | divided_by: section.settings.items_per_slide
        assign grid_item_class = 'grid__item--s-' | append: columns_per_item
    -%}
  {%- endunless -%}

  <section class="featured-collections {{ style_classes }}">
    {%- if section.settings.subheading != blank or section.settings.heading != blank or section.settings.paragraph != blank -%}
      <div class="featured-collections__inner pt-m pb-m pb-xxl--large {{ section.settings.text_align }}">
        <div class="container">
          {%- render 'text-content', inner_settings: section.settings, heading_size_tag: 'h2', heading_class: 'h2', subheading_class: 'sh--2' -%}
        </div><!-- /.container -->
      </div><!-- /.featured-collections__inner -->
    {%- endif -%}

    {%- if show_in_slider -%}
      {%- capture slider_attr -%}
        data-items-per-slide="{{ section.settings.items_per_slide }}"
      {%- endcapture -%}
      {%- render 'slider-component',
        element: 'cards-slider',
        content: cards_html,
        attr: slider_attr,
        paging_styles: 'large'
      -%}
    {%- else -%}
      <div class="collections-grid">
        <div class="collections-grid__items pb-s grid grid--row-gap-s">
          {{ cards_html }}
        </div><!-- /.collections-grid__items pt-s pb-s grid grid-/-row-gap-s -->
      </div><!-- /.collections-grid -->
    {%- endif -%}
  </section><!-- /.featured-collections -->
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.featured-collections.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "spacing_desktop",
      "label": "t:sections.global.settings.spacing.label",
      "options": [
        {
          "value": "mt-0--large mb-0--large",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs--large mb-xs--large",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s--large mb-s--large",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s--large mb-s--large"
    },
    {
      "type": "select",
      "id": "spacing_mobile",
      "label": "t:sections.global.settings.spacing.label_mobile",
      "options": [
        {
          "value": "mt-0 mb-0",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs mb-xs",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s mb-s",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s mb-s"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collections.settings.heading_content.content"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "t:sections.richtext.settings.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.richtext.settings.text_align.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.richtext.settings.text_align.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.richtext.settings.text_align.options.right.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "<p>Collections <em><strong>Headline</strong></em></p>"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "t:sections.global.settings.paragraph.label",
      "default": "<p>Add a short description for your collections</p>"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.header_cards.content"
    },
    {
      "type": "select",
      "id": "media_type",
      "label": "t:sections.main-list-collections.settings.media_type.label",
      "options": [
        {
          "value": "aspect-ratio",
          "label": "t:sections.main-list-collections.settings.media_type.options.option_1"
        },
        {
          "value": "2-3",
          "label": "t:sections.main-list-collections.settings.media_type.options.option_2"
        },
        {
          "value": "1-1",
          "label": "t:sections.main-list-collections.settings.media_type.options.option_3"
        },
        {
          "value": "3-2",
          "label": "t:sections.main-list-collections.settings.media_type.options.option_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.media_type.options.option_5"
        },
        {
          "value": "5-4",
          "label": "t:sections.main-list-collections.settings.media_type.options.option_6"
        }
      ],
      "default": "3-2"
    },
    {
      "type": "select",
      "id": "card_content_layout",
      "label": "t:sections.main-list-collections.settings.card_content_layout.label",
      "options": [
        {
          "value": "outside",
          "label": "t:sections.main-list-collections.settings.card_content_layout.options.option_2"
        },
        {
          "value": "overlay",
          "label": "t:sections.main-list-collections.settings.card_content_layout.options.option_1"
        }
      ],
      "default": "outside"
    },
    {
      "type": "checkbox",
      "id": "show_cards_background",
      "label": "t:sections.main-list-collections.settings.show_cards_background.label",
      "info": "t:sections.main-list-collections.settings.show_cards_background.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.featured-collections.settings.header_slider.content"
    },
    {
      "type": "range",
      "id": "items_per_slide",
      "label": "t:sections.featured-collections.settings.items_per_slide.label",
      "info": "t:sections.featured-collections.settings.items_per_slide.info",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "name": "t:sections.featured-collections.blocks.card.name",
      "type": "card",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collections.blocks.card.settings.collection.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-collections.blocks.card.settings.header_card_settings.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-collections.blocks.card.settings.paragraph_card_settings.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured-collections.blocks.card.settings.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label",
          "default": "Collection"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.featured-collections.blocks.card.settings.link_text.label"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.featured-collections.blocks.card.settings.link_url.label",
          "default": "/collections"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collections.name",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}
