{{- 'section-header.css' | asset_url | stylesheet_tag -}}
<link rel="stylesheet" href="{{ 'component-form-search.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>
  {{- 'component-form-search.css' | asset_url | stylesheet_tag -}}
</noscript>

{%- if section.settings.enable_predictive_search -%}
  <script src="{{- 'predictive-search.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'component-card-product.js' | asset_url -}}" defer="defer"></script>
{%- endif -%}

{%- assign megamenus = section.blocks | map: 'settings' -%}
{%- assign header_nav_html = '' -%}

{%- if megamenus -%}
  <link rel="stylesheet" href="{{ 'component-card-collection.css' | asset_url }}" media="print" onload="this.media='all'">

  <noscript>
    {{- 'component-card-collection.css' | asset_url | stylesheet_tag -}}
  </noscript>
{%- endif -%}

{%- capture header_logo -%}
  <div class="header__logo" style="--logo-width: {{ section.settings.logo_width | times: 0.1 }}rem; --logo-width-mobile: {{ section.settings.logo_width_mobile | times: 0.1 }}rem;">
    <a href="{{- routes.root_url -}}" class="inline-unstyled-link">
      {%- if section.settings.logo_svg_code != blank -%}
        {{- section.settings.logo_svg_code -}}
      {%- elsif section.settings.logo != blank -%}
        {%- assign logo_image_size_2x = section.settings.logo.width | times: 2 | at_most: 5760 -%}

        <img
          srcset="{{ section.settings.logo | image_url: width: section.settings.logo.width }} 1x, {{ section.settings.logo | image_url: width: logo_image_size_2x }} 2x"
          src="{{- section.settings.logo | image_url: width: section.settings.logo.width -}}"
          loading="lazy"
          width="{{- section.settings.logo.width -}}"
          height="{{- section.settings.logo.height -}}"
          alt="{{- section.settings.logo.alt | default: shop.name | escape -}}"
        >
      {%- endif -%}

      <span
        class="{% if section.settings.logo == blank and section.settings.logo_svg_code == blank %}h4{% else %}visually-hidden{% endif %}"
      >{{- shop.name | escape -}}</span>
    </a>
  </div><!-- /.header__logo -->
{%- endcapture -%}

{%- if linklists[section.settings.menu].links.size > 0 -%}
  {%- capture header_nav_html -%}
    <nav class="header__nav small-hide medium-hide">
      <ul class="header__nav-items list-unstyled">
        {%- for link in linklists[section.settings.menu].links -%}
          {%-
            liquid
            assign megamenus_link_titles = megamenus | map: 'title'
            assign has_megamenu = false

            if megamenus_link_titles contains link.title
              assign has_megamenu = true
            endif
          -%}

          <li class="header__nav-item{% if has_megamenu %} header__nav-item--has-megamenu{% endif %}">
            <a href="{{- link.url -}}" class="header__nav-link motion-reduce p4 full-unstyled-link focus-inset{% if link.child_active %} is-current{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
              {{- link.title | escape -}}

              {%- if link.links.size > 0 -%}
                {%- render 'icon-chevron-down' -%}
              {%- endif -%}
            </a>

            {%- if link.links.size > 0 -%}
              {%- if has_megamenu -%}
                {%- assign megamenu = megamenus | where: 'title', link.title | first -%}

                <div class="header__megamenu motion-reduce" tabindex="-1">
                  <div class="container container--fullwidth">
                    <div class="header__megamenu-grid">
                      <div class="header__megamenu-grid-col header__megamenu-grid-col--nav">
                        {%- for child_link in link.links -%}
                          <div class="header__megamenu-col">
                            <div class="header__megamenu--heading">
                              <a href="{{- child_link.url -}}" class="p3 motion-reduce">{{- child_link.title -}}</a>
                            </div><!-- /.header__megamenu--heading -->

                            {%- if child_link.links.size > 0 -%}
                              <ul class="header__megamenu-items list-unstyled">
                                {%- for grand_child_link in child_link.links -%}
                                  <li class="header__megamenu-item">
                                    <a href="{{- grand_child_link.url -}}" class="p4 header__megamenu-link motion-reduce">{{- grand_child_link.title -}}</a>
                                  </li><!-- /.header__megamenu-item -->
                                {%- endfor -%}
                              </ul><!-- /.header__megamenu-items list-unstyled -->
                            {%- endif -%}
                          </div><!-- /.header__megamenu-col -->
                        {%- endfor -%}
                      </div><!-- /.header__megamenu-grid-col -->

                      {%- for i in (1..3) -%}
                        <div class="header__megamenu-grid-col">
                          {%-
                            liquid
                            assign megamenu_image_key = 'item_' | append: forloop.index | append: '_' | append: 'image'
                            assign megamenu_subheading_key = 'item_' | append: forloop.index | append: '_' | append: 'subheading'
                            assign megamenu_heading_key = 'item_' | append: forloop.index | append: '_' | append: 'heading'
                            assign megamenu_link_key = 'item_' | append: forloop.index | append: '_' | append: 'link'
                          -%}
                          {%- if megamenu[megamenu_image_key] != blank -%}
                            <div class="header__megamenu-col">
                              {%- assign megamenu_items_count = megamenu_items_count | plus: 1 -%}
                              {%- render 'card-collection',
                                image: megamenu[megamenu_image_key],
                                subtitle: megamenu[megamenu_subheading_key],
                                title: megamenu[megamenu_heading_key],
                                url: megamenu[megamenu_link_key],
                                card_size: 'small',
                                card_content_layout: 'overlay',
                                class: 'header__megamenu-card',
                                background_overlay: true,
                                card_type: 'landscape'
                              -%}
                            </div><!-- /.header__megamenu-col -->
                          {%- endif -%}
                        </div><!-- /.header__megamenu-grid-col -->
                      {%- endfor -%}
                    </div><!-- /.header__megamenu-grid grid -->
                  </div><!-- /.container container--fullwidth -->
                </div><!-- /.header__megamenu -->
                {%- continue -%}
              {%- endif -%}

              <div class="header__nav-dropdown motion-reduce" tabindex="-1">
                <ul class="header__nav-links list-unstyled">
                  {%- for child_link in link.links -%}
                    <li class="header__nav-links-item">
                      <a href="{{- child_link.url -}}" class="header__nav-dropdown-link p4{% if child_link.current %} is-current{% endif %}" aria-label="{{- child_link.title | escape -}}"{% if child_link.current %} aria-current="page"{% endif %}>
                        <span>{{- child_link.title | escape -}}</span>

                        {%- if child_link.links.size > 0 -%}
                          {%- render 'icon-chevron-right' -%}
                        {%- endif -%}
                      </a>

                      {%- if child_link.links.size > 0 -%}
                        <ul class="header__nav-sublinks list-unstyled motion-reduce" tabindex="-1">
                          {%- for grand_child_link in child_link.links -%}
                            <li class="header__nav-sublinks-item">
                              <a href="{{- grand_child_link.url -}}" class="header__nav-dropdown-link p4{% if grand_child_link.current %} is-current{% endif %}"{% if grand_child_link.current %} aria-current="page"{% endif %}>{{- grand_child_link.title | escape -}}</a>
                            </li><!-- /.header__nav-sublinks-item -->
                          {%- endfor -%}
                        </ul><!-- /.header__nav-sublinks list-unstyled -->
                      {%- endif -%}
                    </li><!-- /.header__nav-links-item -->
                  {%- endfor -%}
                </ul><!-- /.header__nav-links list-unstyled -->
              </div><!-- /.header__nav-dropdown -->
            {%- endif -%}
          </li><!-- /.header__nav-item -->
        {%- endfor -%}
      </ul><!-- /.header__nav-items list-unstyled -->
    </nav><!-- /.header__nav -->
  {%- endcapture -%}
{%- endif -%}

<sticky-header
  class="header header--logo-{{ section.settings.logo_position }}{% if section.settings.transparent and template == 'index' %} is-transparent{% endif %} header--dropdown-animation-{{ section.settings.dropdown_animation_type }} color-{{ section.settings.style }}"
  {% if section.settings.transparent and template == 'index' %}
    data-transparent
  {% endif %}
>
  <div class="container container--fullwidth">
    <div class="header__inner">
      {%- if linklists[section.settings.menu].links.size > 0 -%}
        {%- render 'navigation-mobile', menu: linklists[section.settings.menu] -%}

        {%- if section.settings.logo_position == 'left' -%}
          {{- header_logo -}}
        {%- endif -%}

        {%- if section.settings.logo_position != 'top' -%}
          {{- header_nav_html -}}
        {%- else -%}
          <div class="header__nav-utility small-hide medium-hide {% unless section.settings.enable_contact_links %} header__nav-utility--hidden {% endunless %}">
            {%- render 'contact-links' -%}
          </div><!-- /.header__nav-utility small-hide medium-hide -->
        {%- endif -%}
      {%- endif -%}

      {%- if section.settings.logo_position == 'center' or section.settings.logo_position == 'top' -%}
        {{- header_logo -}}
      {%- endif -%}

      <nav class="header__utils">
        <ul class="header__utils-items list-unstyled">
          <li class="header__utils-item small-hide medium-hide">
            <menu-drawer>
              <details class="disclosure-has-popup header__search-wrapper">
                <summary class="header__utils-link motion-reduce">
                  <span class="visually-hidden">{{- 'accessibility.search' | t -}}</span>

                  {%- render 'icon-search' -%}
                </summary>

                {%- if section.settings.enable_predictive_search -%}
                  <predictive-search class="header__search motion-reduce">
                {%- else -%}
                  <div class="header__search motion-reduce">
                {%- endif -%}
                  {%-
                    liquid
                    capture search_close_button_attr
                      echo 'onclick="this.closest(`details`).querySelector(`summary`).click()"'
                    endcapture
                    capture search_input_attr
                      if section.settings.enable_predictive_search
                        echo 'role="combobox"'
                        echo 'aria-expanded="false"'
                        echo 'aria-owns="predictive-search-results-list"'
                        echo 'aria-controls="predictive-search-results-list"'
                        echo 'aria-haspopup="listbox"'
                        echo 'aria-autocomplete="list"'
                        echo 'autocorrect="off"'
                        echo 'autocomplete="off"'
                        echo 'autocapitalize="off"'
                        echo 'spellcheck="false"'
                      endif
                    endcapture
                  -%}
                  <div class="header__search-wrapper">
                    <div class="container container--fullwidth">
                      {%- render 'form-search',
                        has_no_padding: true,
                        context: 'Header',
                        has_close_button: true,
                        close_button_attr: search_close_button_attr,
                        input_attr: search_input_attr
                      -%}
                    </div><!-- /.container container--fullwidth -->
                  </div><!-- /.header__search-wrapper -->

                  {%- if section.settings.enable_predictive_search -%}
                    <predictive-search-results class="header__search-results" tabindex="-1"></predictive-search-results><!-- /.header__search-results -->
                  {%- endif -%}
                {%- if section.settings.enable_predictive_search -%}
                  </predictive-search>
                {%- else -%}
                  </div><!-- /.header__search -->
                {%- endif -%}
              </details>
            </menu-drawer>
          </li><!-- /.header__utils-item -->

          {%- if shop.customer_accounts_enabled -%}
            <li class="header__utils-item small-hide medium-hide">
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__utils-link motion-reduce full-unstyled-link" title="{%- if customer -%}{{ 'accessibility.account' | t }}{%- else -%}{{ 'accessibility.sign_in' | t }}{%- endif -%}">
                {%- render 'icon-user' -%}
              </a>
            </li><!-- /.header__utils-item -->
          {%- endif -%}

          <li class="header__utils-item header__utils-item--cart">
            <a href="{{- routes.cart_url -}}" class="header__utils-link motion-reduce full-unstyled-link relative" title="{{- 'accessibility.cart' | t -}}" id="cart-counter" data-cart-link>
              {%- render 'cart-counter' -%}
            </a>
          </li><!-- /.header__utils-item header__utils-item--cart -->
        </ul><!-- /.header__utils-items list-unstyled -->
      </nav><!-- /.header__utils -->
    </div><!-- /.header__inner -->

    {%- if section.settings.logo_position == 'top' -%}
      {{- header_nav_html -}}
    {%- endif -%}
  </div><!-- /.container container--fullwidth -->
</sticky-header><!-- /.header -->

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
      this.transparent = this.hasAttribute("data-transparent");
      this.selectors = {
        announcementBar: "#shopify-section-announcement-bar",
      };
      this.announcementBarheight = 0;
    }

    connectedCallback() {
      ["scroll", "load", "resize"].forEach((event) =>
        window.addEventListener(event, (event) => {
          this.updateHeaderOffsetVariable();
          this.handleTransparent();
        })
      );
      if (!this.transparent) return;
      document.querySelector(
        "#MainContent"
      ).style.marginTop = `-${this.offsetHeight}px`;
    }

    handleTransparent() {
      if (!this.transparent) return;
      this.classList.toggle(
        "is-transparent",
        window.scrollY <= this.announcementBarHeight
      );
    }

    updateHeaderOffsetVariable() {
      const announcementBar = document.querySelector(
        this.selectors.announcementBar
      );
      this.announcementBarHeight = announcementBar
        ? announcementBar.offsetHeight
        : 0;
      const headerHeight = this.transparent ? 0 : this.offsetHeight;
      const headerOffset = this.announcementBarHeight + headerHeight;
      document.documentElement.style.setProperty(
        "--header-offset",
        `${headerOffset * 0.1}rem`
      );
    }
  }

  customElements.define("sticky-header", StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo != blank %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "t:sections.header.settings.logo_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.header.settings.logo_position.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.header.settings.logo_position.options.center"
        },
        {
          "value": "top",
          "label": "t:sections.header.settings.logo_position.options.top"
        }
      ],
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "html",
      "id": "logo_svg_code",
      "label": "t:sections.header.settings.logo_svg_code.label",
      "info": "t:sections.header.settings.logo_svg_code.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width.label",
      "default": 150
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width_mobile.label",
      "default": 150
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "enable_contact_links",
      "label": "t:sections.header.settings.enable_contact_links.label",
      "info": "t:sections.header.settings.enable_contact_links.info",
      "default": true
    },
    {
      "type": "select",
      "id": "dropdown_animation_type",
      "label": "t:sections.header.settings.dropdown_animation_type.label",
      "options": [
        {
          "value": "elastic",
          "label": "t:sections.header.settings.dropdown_animation_type.options.option_1"
        },
        {
          "value": "simple",
          "label": "t:sections.header.settings.dropdown_animation_type.options.option_2"
        }
      ],
      "default": "elastic"
    },
    {
      "type": "checkbox",
      "id": "enable_predictive_search",
      "label": "t:sections.header.settings.enable_predictive_search.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "transparent",
      "label": "t:sections.header.settings.transparent.label"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.header.blocks.megamenu.name",
      "type": "megamenu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.header.blocks.megamenu.settings.link_level_1.label",
          "info": "t:sections.header.blocks.megamenu.settings.link_level_1.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.megamenu.header_featured_item.content"
        },
        {
          "type": "image_picker",
          "id": "item_1_image",
          "label": "t:sections.header.blocks.megamenu.settings.image.label"
        },
        {
          "type": "text",
          "id": "item_1_subheading",
          "label": "t:sections.header.blocks.megamenu.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "item_1_heading",
          "label": "t:sections.header.blocks.megamenu.settings.heading.label"
        },
        {
          "type": "url",
          "id": "item_1_link",
          "label": "t:sections.header.blocks.megamenu.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.megamenu.header_featured_item.content"
        },
        {
          "type": "image_picker",
          "id": "item_2_image",
          "label": "t:sections.header.blocks.megamenu.settings.image.label"
        },
        {
          "type": "text",
          "id": "item_2_subheading",
          "label": "t:sections.header.blocks.megamenu.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "item_2_heading",
          "label": "t:sections.header.blocks.megamenu.settings.heading.label"
        },
        {
          "type": "url",
          "id": "item_2_link",
          "label": "t:sections.header.blocks.megamenu.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.megamenu.header_featured_item.content"
        },
        {
          "type": "image_picker",
          "id": "item_3_image",
          "label": "t:sections.header.blocks.megamenu.settings.image.label"
        },
        {
          "type": "text",
          "id": "item_3_subheading",
          "label": "t:sections.header.blocks.megamenu.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "item_3_heading",
          "label": "t:sections.header.blocks.megamenu.settings.heading.label"
        },
        {
          "type": "url",
          "id": "item_3_link",
          "label": "t:sections.header.blocks.megamenu.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
