{{- 'customer.css' | asset_url | stylesheet_tag -}}
{{- 'component-form-elements.css' | asset_url | stylesheet_tag -}}

<script src="{{- 'form-validation.js' | asset_url -}}" defer></script>

<div class="customer-login relative color-paragraphs color-background color-{{ section.settings.style }}">
  <div class="customer__inner container">
    <div class="form-customer form-customer--recover" id="recover">
      {%-
        liquid
        if section.settings.image_recover != blank
          assign image = section.settings.image_recover
          assign image_src = image | image_url: width: 500
          assign image_alt = image.alt | escape
          assign class = false

          capture image_srcset
            render 'srcset', image: image
          endcapture

          if section.settings.image_recover_mobile != blank
            assign image_mobile = section.settings.image_recover_mobile
            assign image_mobile_src = image_mobile | image_url: width: 375
            assign image_mobile_alt = image_mobile.alt
            assign class = 'small-hide'

            capture image_mobile_srcset
              render 'srcset', image: image_mobile
            endcapture

            render 'image', src: image_mobile_src, srcset: image_mobile_srcset, sizes: 'auto', alt: image_mobile_alt, width: image_mobile.width, height: image_mobile.height, class: 'medium-hide large-up-hide'`
          endif

          render 'image', src: image_src, srcset: image_srcset, sizes: 'auto', alt: image_alt, width: image.width, height: image.height, class: class

          assign image = nil
        endif
      -%}

      <div class="form__inner form__inner--{{- section.settings.horizontal_alignment -}}">
        <div class="form__content color-background">
          <div class="form__head">
            <h2 class="h3 mb-xs mb-s mt-0 form__title color-headings">
              {{- 'customer.recover_password.title' | t -}}
            </h2><!-- /.h3 form__title -->

            <p class="form__subtitle p3 mt-0 color-paragraphs">
              {{- 'customer.recover_password.subtitle' | t -}}
            </p><!-- /.form__subtitle -->
          </div><!-- /.form__head center -->

          <div class="form__body mt-m mb-m mt-l--large mb-l--large">
            <form-validation>
              {%- form 'recover_customer_password' -%}
                {%- assign recover_success = form.posted_successfully? -%}

                <div class="form-row">
                  {%-
                    liquid
                    assign label = 'customer.recover_password.email' | t
                    assign placeholder = 'customer.recover_password.email_placeholder' | t
                    assign error = ''
                    assign has_error = false
                    capture attr
                      echo 'autocorrect="off"'
                      echo 'autocapitalize="off"'
                      echo 'autocomplete="email"'
                      if form.errors
                        assign error = form.errors.messages['form']
                        assign has_error = true
                        echo 'autofocus'
                      endif
                    endcapture
                    render 'text-input', id: 'RecoverEmail', label: label, type: 'email', name: 'email', placeholder: placeholder, attr: attr, message: error, has_error: has_error, required: true
                    assign label = nil
                    assign placeholder = nil
                    assign attr = nil
                    assign error = nil
                    assign has_error = nil
                  -%}
                </div><!-- /.form-row -->

                <div class="form__actions mt-xl">
                  <div>
                    {%- assign value = 'customer.recover_password.submit' | t -%}
                    {%- render 'button', type: 'submit', fullwidth: true, value: value -%}
                    {%- assign value = nil -%}
                  </div>
                </div><!-- /.form-row center -->

              {%- endform -%}
            </form-validation>
          </div><!-- /.form__body -->

          <div class="form__foot">
            <div>
              <a href="#login" class="customer__link bold p4 link-underline">
                {{- 'customer.recover_password.cancel' | t -}}
              </a><!-- /.customer__link -->
            </div>
          </div><!-- /.form__foot -->
        </div><!-- /.form__content -->
      </div><!-- /.form__inner -->
    </div><!-- /#recover.form-customer form-customer--recover -->

    <div class="form-customer form-customer--login" id="login">
      {%-
        liquid
        if section.settings.image != blank
          assign image = section.settings.image
          assign image_src = section.settings.image | image_url: width: 500
          assign image_alt = image.alt | escape
          assign class = false

          capture image_srcset
            render 'srcset', image: image
          endcapture

          if section.settings.image_mobile != blank
            assign image_mobile = section.settings.image_mobile
            assign image_mobile_src = image_mobile | image_url: width: 375
            assign image_mobile_alt = image_mobile.alt
            assign class = 'small-hide'

            capture image_mobile_srcset
              render 'srcset', image: image_mobile
            endcapture

            render 'image', src: image_mobile_src, srcset: image_mobile_srcset, sizes: 'auto', alt: image_mobile_alt, width: image_mobile.width, height: image_mobile.height, class: 'medium-hide large-up-hide'
          endif

          render 'image', src: image_src, srcset: image_srcset, sizes: 'auto', alt: image_alt, width: image.width, height: image.height, class: class

          assign image = nil
        endif
      -%}

      <div class="form__inner form__inner--{{- section.settings.horizontal_alignment -}}">
        <div class="form__content color-background">
          <div class="form__head">
            <h1 class="h3 mb-xs mb-s--large mt-0 form__title color-headings">
              {{- 'customer.login.title' | t -}}
            </h1><!-- /.h3 form__title -->

            <p class="form__subtitle p3 mt-0">
              {{- 'customer.login.subtitle' | t -}}
            </p><!-- /.form__subtitle -->

            {%- if recover_success == true -%}
              <p class="form__subtitle color-paragraphs" tabindex="-1" autofocus>
                {{- 'customer.recover_password.success' | t -}}
              </p><!-- /.form__subtitle -->
            {%- endif -%}
          </div><!-- /.form__head center -->

          <div class="form__body mt-m mb-m mt-l--large mb-l--large">
            <form-validation>
              {%- form 'customer_login' -%}
                {%- if form.errors -%}
                  <div class="color-red">
                    {{- form.errors | default_errors -}}
                  </div><!-- /.color-red -->
                {%- endif -%}

                <div class="form-row">
                  {%-
                    liquid
                    assign label = 'customer.login.email' | t
                    assign placeholder = 'customer.login.email_placeholder' | t
                    assign has_error = false
                    capture attr
                      echo 'autocorrect="off"'
                      echo 'autocapitalize="off"'
                      echo 'autocomplete="email"'
                      if form.errors contains 'form'
                        assign has_error = true
                        assign error = form.errors.messages['form']
                      endif
                    endcapture
                    render 'text-input', id: 'CustomerEmail', label: label, type: 'email', name: 'customer[email]', placeholder: placeholder, attr: attr, message: error, has_error: has_error, required: true
                    assign label = nil
                    assign placeholder = nil
                    assign attr = nil
                    assign has_error = nil
                    assign error = nil
                  -%}
                </div><!-- /.form-row -->

                <div class="form-row">
                  {%-
                    liquid
                    assign label = 'customer.login.password' | t
                    assign placeholder = 'customer.login.password_placeholder' | t
                    assign has_error = false
                    capture attr
                      echo 'autocomplete="current-password"'
                      if form.errors contains 'form'
                        assign has_error = true
                        assign error = form.errors.messages['form']
                      endif
                      echo 'minlength="5"'
                    endcapture
                    render 'text-input', id: 'CustomerPassword', label: label, type: 'password', name: 'customer[password]', placeholder: placeholder, attr: attr, message: error, has_error: has_error, required: true
                    assign label = nil
                    assign placeholder = nil
                    assign attr = nil
                    assign has_error = nil
                  -%}
                </div><!-- /.form-row -->

                <div class="form-row">
                  <div>
                    <a href="#recover" class="customer__link flex flex--center p5 bold link-underline">
                      {%- render 'icon-lock' -%}

                      {{- 'customer.login.forgot_password' | t -}}
                    </a><!-- /.customer__link -->
                  </div>
                </div><!-- /.form-row -->

                <div class="form__actions mt-xl">
                  <div>
                    {%- assign value = 'customer.login.submit' | t -%}
                    {%- render 'button', type: 'submit', fullwidth: true, value: value -%}
                    {%- assign value = nil -%}
                  </div>
                </div><!-- /.form-row center -->
              {%- endform -%}
            </form-validation>
          </div><!-- /.form__body -->

          <div class="form__foot">
            <div>
              <p class="p4 color-paragraphs">
                {{- 'customer.login.register_callout_text' | t -}}

                <a href="{{- routes.account_register_url -}}" class="customer__link bold link-underline">
                  {{- 'customer.login.register_callout_link' | t -}}
                </a><!-- /.customer__link -->
              </p><!-- /.p4 -->
            </div>
          </div><!-- /.form__foot -->
        </div><!-- /.form__content -->
      </div><!-- /.form__inner -->
    </div><!-- /#login.form-customer form-customer--login -->
  </div><!-- /.customer__inner -->
</div><!-- /.customer-login -->


{% schema %}
{
  "name": "t:sections.login.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:sections.global.settings.horizontal_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.global.settings.horizontal_alignment.options.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.global.settings.horizontal_alignment.options.option_2"
        },
        {
          "value": "right",
          "label": "t:sections.global.settings.horizontal_alignment.options.option_3"
        }
      ],
      "default": "left"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image.label_mobile"
    },
    {
      "type": "image_picker",
      "id": "image_recover",
      "label": "t:sections.login.settings.recover_image.label"
    },
    {
      "type": "image_picker",
      "id": "image_recover_mobile",
      "label": "t:sections.login.settings.recover_image.label_mobile"
    }
  ]
}
{% endschema %}

