{{- 'section-password.css' | asset_url | stylesheet_tag -}}
{{- 'component-form-elements.css' | asset_url | stylesheet_tag -}}

<script src="{{- 'form-validation.js' | asset_url -}}" defer></script>

<div class="main-password flex flex--center color-background color-headings color-{{- section.settings.style -}}">
  <div class="main-password__inner">
    <div class="container">
      <div class="main-password__form center" id="PasswordForm">
        <p class="h4 mt-0 mb-m">{{- 'password.password_modal.title' | t -}}</p><!-- /.h4 -->

        <form-validation>
          {%- form 'storefront_password' -%}
            <div class="main-password__form-group left">
              {%-
                liquid
                assign label = 'password.password_modal.password.label' | t
                assign placeholder = 'password.password_modal.password.placeholder' | t
                assign has_error = false
                capture attr
                  echo 'autocomplete="current-password"'
                  echo 'minlength="1"'
                endcapture
                if form.errors
                  assign error = 'password.password_modal.password.error' | t
                  assign has_error = true
                endif
                render 'text-input', id: 'Password', label: label, type: 'password', name: 'password', placeholder: placeholder, attr: attr, message: error, has_error: has_error, hide_label: true, required: true
                assign label = nil
                assign placeholder = nil
                assign attr = nil
                assign has_error = nil
              -%}

              <div>
                {%-
                  liquid
                  assign value = 'password.password_modal.submit' | t
                  render 'button', type: 'submit', fullwidth: true, value: value, class: 'main-password__button', styles: 'm'
                  assign value = nil
                -%}
              </div>
            </div><!-- /.main-password__form-group -->
          {%- endform -%}
        </form-validation>
      </div><!-- /#PasswordForm.main-password__form -->

      {%- if section.settings.heading != blank or section.settings.paragraph != blank -%}
        <div class="main-password__content center">
          {%- if section.settings.heading != blank -%}
            <h2 class="h2 mt-0 mb-xs">{{- section.settings.heading | escape | newline_to_br -}}</h2><!-- /.h2 -->
          {%- endif -%}

          <div class="rte">
            {{- section.settings.paragraph | default: shop.password_message -}}
          </div><!-- /.rte -->
        </div><!-- /.main-password__content -->
      {%- endif -%}
    </div><!-- /.container -->
  </div><!-- /.main-password__inner -->
</div><!-- /.main-password -->

{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Opening Soon"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "t:sections.global.settings.paragraph.label"
    }
  ]
}
{% endschema %}
