{{- 'section-header.css' | asset_url | stylesheet_tag -}}

<header class="header-password color-background color-headings color-{{- section.settings.style -}}">
  <div class="header-password__inner container flex flex--justify flex--center">
    <h1 class="h5 header-password__title mt-m mb-m">
      {%- if section.settings.logo != blank -%}
        <img
          style="--logo-width: {{ section.settings.logo_width | times: 0.1 }}rem; --logo-width-mobile: {{ section.settings.logo_width_mobile | times: 0.1 }}rem;"
          class="header-password__logo"
          src="{{- section.settings.logo | image_url: width: 355 -}}"
          alt="{{- section.settings.logo.alt -}}"
          width="auto"
          height="auto"
          loading="lazy"
        >
      {%- else -%}
        {{- shop.name | escape -}}
      {%- endif -%}
    </h1><!-- /.h3 header-password__title -->

    <div class="header-password__link flex flex--center mb-m mb-0--large">
      {%- render 'icon-lock' -%}

      <a href="#PasswordForm" class="link-underline" aria-haspopup="dialog">{{- 'password.password_link' | t -}}</a>
    </div>
  </div><!-- /.container -->
</header><!-- /.header-password -->

{% schema %}
{
  "name": "t:sections.password-header.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.global.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width.label",
      "default": 150
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width_mobile.label",
      "default": 150
    }
  ]
}
{% endschema %}

