<link rel="stylesheet" href="{{ 'component-marquee.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>
  {{ 'component-marquee.css' | asset_url | stylesheet_tag }}
</noscript>

{%-
  liquid
  assign has_marquee = false
  if section.settings.marquee_text != blank
    assign has_marquee = true
  endif
  capture style_classes
    echo 'color-' | append: section.settings.style | append: ' color-background ' | append: section.settings.spacing_mobile | append: ' ' | append: section.settings.spacing_desktop
    if section.blocks.size == 0
      echo ' pt-xxl pb-xxl pt-xl--large pb-xl--large'
    endif
  endcapture
-%}

<section class="section-social-feed {{ style_classes }}">
  {%- assign image_blocks = section.blocks | where: 'type', 'image' -%}

  {%- if has_marquee -%}
    {%- capture marquee_html -%}
      {%-
        liquid
        assign marquee_classes = 'marquee' | append: ' marquee--speed-' | append: section.settings.marquee_speed
        unless section.blocks.size == 0
        assign marquee_classes = marquee_classes | append: ' marquee--' | append: section.settings.marquee_position
        endunless
        if section.settings.marquee_pause_on_hover
          assign marquee_classes = marquee_classes | append: ' marquee--pause-on-hover'
        endif
      -%}
      <div class="{{ marquee_classes }}">
        <div class="marquee__inner capitalize">
          {% for i in (1..30) %}
            {%-
              liquid
              capture marquee_item_class
                echo 'h2 marquee__item color-headings'
                if section.settings.marquee_position == 'bottom' and section.blocks.size > 0
                  echo ' mt-m mb-0'
                elsif section.blocks.size > 0
                  echo ' mt-0 mb-0'
                endif
              endcapture
              assign loop_modulo_remainder = forloop.index | modulo: 2
              if loop_modulo_remainder == 0
                assign marquee_item_class = marquee_item_class | append: ' marquee__item--stroke-only'
              endif
            -%}
            <div class="{{- marquee_item_class -}}" data-item>{{ section.settings.marquee_text }}</div>
          {% endfor %}
        </div><!-- /.marquee__inner -->
      </div><!-- /.marquee -->
    {%- endcapture -%}
  {%- endif -%}

  {%- if image_blocks.size > 0 -%}
    {%- if section.settings.marquee_position == 'top' -%}
      {{ marquee_html }}
    {%- endif -%}

    <div class="grid grid--auto-flow grid--column-gap-xs-mobile {% if section.settings.remove_image_gap %}grid--no-column-gap{% endif %}  {% unless has_marquee %} mt-l {% endunless %}relative">
      {%- if section.settings.marquee_position == 'middle' -%}
        {{ marquee_html }}
      {%- endif -%}

      {% for block in image_blocks %}
        {%-
          liquid
          capture grid_item_class
            echo 'grid__item'
            if block.settings.hide_on_mobile
              echo ' small-hide'
            endif
            if block.settings.hide_on_tablet
              echo ' medium-hide'
            endif
          endcapture
        -%}
        <div class="{{ grid_item_class }}">
          <a {% if block.settings.link_url != blank %}href="{{ block.settings.link_url }}"{% endif %} class="media media--{{ section.settings.image_aspect_ratio }}" {{ block.shopify_attributes }}>
            {%-
              liquid
              if block.settings.image != blank
                assign image = block.settings.image
                assign image_width = image.width
                assign image_src = image | image_url: width: image_width
                capture image_srcset
                  render 'srcset', image: image
                endcapture
                assign image_alt = image.alt | escape

                render 'image', src: image_src, srcset: image_srcset, alt: image_alt, width: image.width, height: image.height
              else
                echo 'image' | placeholder_svg_tag: 'placeholder-svg'
              endif
            -%}
          </a><!-- /.media -->
        </div><!-- /.grid-item -->
      {% endfor %}
    </div><!-- /.grid -->

    {%- if section.settings.marquee_position == 'bottom' -%}
      {{ marquee_html }}
    {%- endif -%}
  {%- else -%}
    {{ marquee_html }}
  {%- endif -%}
</section><!-- /.spacer -->

{% schema %}
{
  "name": "t:sections.marquee.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "select",
      "id": "spacing_desktop",
      "label": "t:sections.global.settings.spacing.label",
      "options": [
        {
          "value": "mt-0--large mb-0--large",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs--large mb-xs--large",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s--large mb-s--large",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s--large mb-s--large"
    },
    {
      "type": "select",
      "id": "spacing_mobile",
      "label": "t:sections.global.settings.spacing.label_mobile",
      "options": [
        {
          "value": "mt-0 mb-0",
          "label": "t:sections.global.settings.spacing.options.option_1"
        },
        {
          "value": "mt-xs mb-xs",
          "label": "t:sections.global.settings.spacing.options.option_2"
        },
        {
          "value": "mt-s mb-s",
          "label": "t:sections.global.settings.spacing.options.option_3"
        }
      ],
      "default": "mt-s mb-s"
    },
    {
      "type": "header",
      "content": "t:sections.marquee.settings.header_marquee.content"
    },
    {
      "type": "richtext",
      "id": "marquee_text",
      "label": "t:sections.marquee.settings.marquee_text.label",
      "default": "<p>Add campaign or promotional text here</p>"
    },
    {
      "type": "select",
      "id": "marquee_position",
      "label": "t:sections.marquee.settings.marquee_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.marquee.settings.marquee_position.options.option_1"
        },
        {
          "value": "middle",
          "label": "t:sections.marquee.settings.marquee_position.options.option_2"
        },
        {
          "value": "bottom",
          "label": "t:sections.marquee.settings.marquee_position.options.option_3"
        }
      ],
      "default": "top",
      "info": "t:sections.marquee.settings.marquee_position.info"
    },
    {
      "type": "checkbox",
      "id": "marquee_pause_on_hover",
      "label": "t:sections.marquee.settings.marquee_pause_on_hover.label",
      "default": false
    },
    {
      "type": "range",
      "id": "marquee_speed",
      "label": "t:sections.marquee.settings.marquee_speed.label",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.social-feed.settings.header_image_grid.content"
    },
    {
      "type": "checkbox",
      "id": "remove_image_gap",
      "label": "t:sections.social-feed.settings.remove_image_gap.label",
      "default": false
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:sections.social-feed.settings.image_aspect_ratio.label",
      "options": [
        {
          "value": "portrait",
          "label": "t:sections.social-feed.settings.image_aspect_ratio.options.option_1"
        },
        {
          "value": "1-1",
          "label": "t:sections.social-feed.settings.image_aspect_ratio.options.option_2"
        }
      ],
      "default": "1-1"
    }
  ],
  "blocks": [
    {
      "limit": 8,
      "type": "image",
      "name": "t:sections.social-feed.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.social-feed.blocks.image.settings.image.label"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.social-feed.blocks.image.settings.link_url.label"
        },
        {
          "type": "checkbox",
          "id": "hide_on_tablet",
          "label": "t:sections.social-feed.blocks.image.settings.hide_on_tablet.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_on_mobile",
          "label": "t:sections.social-feed.blocks.image.settings.hide_on_mobile.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.marquee.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
