{%- if section.settings.enable -%}
  {{- 'section-newsletter-popup.css' | asset_url | stylesheet_tag: preload: true -}}
  <link rel="stylesheet" href="{{ 'component-form-elements.css' | asset_url }}" media="print" onload="this.media='all'">

  <noscript>
    {{- 'component-form-elements.css' | asset_url | stylesheet_tag -}}
  </noscript>

  <script src="{{- 'cookies.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'newsletter-popup.js' | asset_url -}}" defer="defer"></script>

  {%- if section.settings.title != blank
      or section.settings.entry != blank
      or section.settings.image != blank
    -%}
    <newsletter-popup
      id="NewsletterModal-{{- section.id -}}"
      class="newsletter-popup flex flex--justify-center flex--center color-{{- section.settings.style }} newsletter-popup--image-{{- section.settings.image_position -}}"
      {% if request.design_mode and section.settings.show_in_editor %}
        data-open-in-design-mode="true"
      {% endif %}
      data-delay="{{- section.settings.delay -}}"
      aria-modal="true"
    >
      <div class="newsletter-popup__wrapper flex flex--direction-column flex--justify-center"
      >
        <div class="newsletter-popup__inner center color-paragraphs color-background"
          role="dialog"
          tabindex="-1"
        >
          <button
            id="ModalClose-{{- section.id -}}"
            type="button"
            class="newsletter-popup__close color-headings"
            aria-label="{{- 'accessibility.close' | t -}}"
          >
            {%- render 'icon-close' -%}
          </button>

          <div class="grid newsletter-popup__grid">
            <div class="grid__item {% unless section.settings.image == blank and section.settings.image_mobile == blank %} grid__item--xs-6 {% else %} grid__item--xs-12 {% endunless %} newsletter-popup__content flex flex--center flex--justify-center">
              {%- if section.settings.logo != blank -%}
                <img class="newsletter-popup__logo mb-xl mb-xxl--large" style="--logo-width: {{ section.settings.logo_width | times: 0.1 }}rem; --logo-width-mobile: {{ section.settings.logo_width_mobile | times: 0.1 }}rem;" src="{{- section.settings.logo | image_url: width: 355 -}}" alt="" width="auto" height="auto" loading="lazy">
              {%- endif -%}

              {%- if section.settings.subheading != blank -%}
                <p class="sh sh--3 mt-0 mb-xs color-headings">{{- section.settings.subheading | escape -}}</p><!-- /.sh sh--3 -->
              {%- endif -%}

              {%- if section.settings.title != blank -%}
                <h6 class="newsletter-popup__title color-headings h3 mt-0 mb-xs color-headings">
                  {{- section.settings.title | escape -}}
                </h6><!-- /.newsletter-popup__title -->
              {%- endif -%}

              {%- if section.settings.entry != blank -%}
                <div class="newsletter-popup__entry p4 mb-m mb-l--large">
                  {{- section.settings.entry -}}
                </div><!-- /.newsletter-popup__entry -->
              {%- endif -%}

              <div class="newsletter-popup__form">
                {%- liquid
                  if section.settings.form_code != blank
                    echo section.settings.form_code
                  else
                    render 'newsletter-form', namespace: section.id, js_class: 'js-form', button_type: 'button'
                  endif
                -%}
              </div><!-- /.newsletter-popup__form -->

              <button
                id="ModalClose-{{- section.id -}}"
                type="button"
                class="link link--no-icon mt-s mt-m--large"
                aria-label="{{- 'accessibility.close' | t -}}"
              >
                {{- 'newsletter-form.close' | t -}}
              </button>
            </div><!-- /.grid__item grid__item--xs-6 -->

            {%- if section.settings.image != blank or section.settings.image_mobile != blank -%}
              <div class="grid__item grid__item--xs-6 newsletter-popup__image">
                <div class="newsletter-popup__media flex flex--center">
                  {%-
                    liquid
                    assign image = section.settings.image
                    if image == blank
                      assign image = section.settings.image_mobile
                    endif
                    assign image_mobile = section.settings.image_mobile | default: image
                    assign image_src = image | image_url: width: 500
                    assign image_mobile_src = image_mobile | image_url: width: 375
                    capture image_srcset
                      render 'srcset', image: image
                    endcapture
                    capture image_mobile_srcset
                      render 'srcset', image: image_mobile
                    endcapture
                    assign image_alt = image.alt | escape

                    render 'image', src: image_src, srcset: image_srcset, sizes: 'auto', alt: image_alt, width: image.witdth, height: image.height, class: 'small-hide'
                    render 'image', src: image_mobile_src, srcset: image_mobile_srcset, sizes: 'auto', alt: image_alt, width: image_mobile.witdth, height: image_mobile.height, class: 'medium-hide large-up-hide'
                  -%}
                </div><!-- /.media -->
              </div><!-- /.grid__item grid__item--xs-6 -->
            {%- endif -%}
          </div><!-- /.grid -->
        </div><!-- /.newsletter-popup__inner -->
      </div><!-- /.newsletter-popup__wrapper -->
    </newsletter-popup>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.newsletter-popup.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.global.settings.style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.global.settings.style.options.option_1"
        },
        {
          "value": "style-2",
          "label": "t:sections.global.settings.style.options.option_2"
        },
        {
          "value": "style-3",
          "label": "t:sections.global.settings.style.options.option_3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "checkbox",
      "id": "show_in_editor",
      "label": "t:sections.newsletter-popup.settings.show_in_editor.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable",
      "label": "t:sections.newsletter-popup.settings.enable.label",
      "default": true
    },
    {
      "type": "range",
      "id": "delay",
      "label": "t:sections.newsletter-popup.settings.delay.label",
      "unit": "s",
      "min": 4,
      "max": 30,
      "step": 1,
      "default": 10
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.global.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width.label",
      "default": 150
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width_mobile.label",
      "default": 150
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.global.settings.heading.label",
      "default": "Subscribe to newsletter"
    },
    {
      "type": "richtext",
      "id": "entry",
      "label": "t:sections.newsletter-popup.settings.entry.label",
      "default": "<p>Subscribe to our newsletter so you don't miss anything good.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.newsletter-popup.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.newsletter-popup.settings.image_mobile.label"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.newsletter-popup.settings.image-position.label",
      "options": [
        {
          "value": "right",
          "label": "t:sections.newsletter-popup.settings.image-position.options.right"
        },
        {
          "value": "left",
          "label": "t:sections.newsletter-popup.settings.image-position.options.left"
        },
        {
          "value": "top",
          "label": "t:sections.newsletter-popup.settings.image-position.options.top"
        }
      ],
      "default": "right"
    },
    {
      "type": "html",
      "id": "form_code",
      "label": "t:sections.newsletter-popup.settings.form_code.label",
      "info": "t:sections.newsletter-popup.settings.form_code.info"
    }
  ]
}
{% endschema %}
